<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      G00485482
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Movie App</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-card *ngFor="let movie of movies">
  <img alt="Movie Poster" [src]="'https://image.tmdb.org/t/p/w500' +movie.poster_path" />
    
  <ion-card-header>
    <ion-card-title>{{ movie.title }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
      <p>{{ movie.overview }}</p>
  </ion-card-content>
</ion-card>

</ion-content>
