<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      G00485482
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar placeholder="Search movies" (ionInput)="onSearch($event)" (ionClear)="clearSearch()" debounce="500"></ion-searchbar>
  
  <h2 style="text-align: center"; class="page-title">{{ pageTitle }}</h2>

  <!--on the click of this button (which includes an icon!) the openHome function will be triggered-->
  <ion-button (click)="openHome()"><ion-icon [icon]="home" slot="start"></ion-icon>Home</ion-button>

  <!--on the click of this button (which includes an icon!) the openFavourites function will be triggered-->
  <ion-button (click)="openFavourites()"><ion-icon [icon]="star" slot="start"></ion-icon>Favourites</ion-button>

  <!--for each piece element of the array, movies (from DB), show the following-->
  <ion-card *ngFor="let movie of movies">
    <!--the image displayed here has been retrieved from the database-->
    <img alt="Movie Poster" [src]="'https://image.tmdb.org/t/p/w500' +movie.poster_path" />
    
    <ion-card-header>
     <ion-card-title>{{ movie.title }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Release date: {{ movie.release_date }}</p>
      <p>Rating: {{ movie.vote_average | number: '1.0-1' }}/10</p>
      <p>{{ movie.overview }}</p>
      <ion-button (click)="openMovieDetails(movie.id)">More details...</ion-button>
      <!--if the movie is not a favourite already, the "add to favourites" button will appear & the addToFavourites function will be triggered-->
      <ion-button *ngIf="!isFavourite(movie)" (click)="addToFavourites(movie)">Add to Favourites</ion-button>
      <!--if the movie is a favourite, the "remove from favourites" button will appear & the removeFromFavourites function will be triggered-->
      <ion-button *ngIf="isFavourite(movie)" (click)="removeFromFavourites(movie)">Remove from Favourites</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
