<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      G00485482
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar placeholder="Search movies" (ionInput)="onSearch($event)" debounce="500"></ion-searchbar>
  
  <h2 style="text-align: center"; class="page-title">{{ pageTitle }}</h2>

  <ion-button (click)="openFavourites()">Favourites</ion-button>

  <ion-card *ngFor="let movie of movies">
    <img alt="Movie Poster" [src]="'https://image.tmdb.org/t/p/w500' +movie.poster_path" />
    
    <ion-card-header>
     <ion-card-title>{{ movie.title }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Release date: {{ movie.release_date }}</p>
      <p>Rating: {{ movie.vote_average | number: '1.0-1' }}/10</p>
      <p>{{ movie.overview }}</p>
      <ion-button (click)="openMovieDetails(movie.id)">More details...</ion-button>
      <ion-button (click)="addToFavourites(movie)">Add to Favourites</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
